<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/dashboard-aluno/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/dashboard-student/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/global-sidebar.css">
    <script defer src="/fa/solid.js"></script>
    <script defer src="/fa/fontawesome.js"></script>
    <script src="https://cdn.tiny.cloud/1/8f5vg1itxlt62ig0814iav9osju3lf27flh1v6j6sn50rvbf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#textArea',
            menubar: false,
            placeholder: "Digite ou cole aqui sua resposta",
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent',
            language: "pt_BR",
            height: 280
        });
    </script>
    <title>elevel - Dashboard Aluno</title>
</head>
<body>
    <%- include('../partials/aside-top.ejs') %>
            <a href="/dashboard/aluno"><i class="fas fa-graduation-cap"></i> Aluno</a>
            <a href="/dashboard/aluno/profile"><i class="fas fa-user"></i> Perfil</a>
            <a href="/dashboard/aluno/turmas" ><i class="fas fa-users"></i> Turmas</a>
            <a href="#" class="active"><i class="fas fa-file-alt"></i> Atividades</a>
            <a href="/dashboard/aluno/turmas/<%= classes.idTurma %>/ranking"><i class="fas fa-chart-bar"></i> Ranking</a>
    <%- include('../partials/aside-bottom.ejs') %>
    <main class="main">
		<%- include('../partials/profile.ejs') %>
        <h2>Dashboard / Turmas / <%= classes.titulo %> / Atividade / <%= data.Atividade.titulo %></h2>
        <hr />
        <div class="tables">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Atividade</th>
                        <th>Descrição</th>
                        <th>Pontos</th>
                        <th>Prazo</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= data.Atividade.titulo %></td>
                        <td><%= data.Atividade.descricao %></td>
                        <td><%= data.Atividade.pontuacao %></td>
                        <td><%= data.Atividade.dataTermino %></td>
                    <% if (data.textField != null && data.textField != '') { %>
                        <td>Enviado</td>
                    <% } else { %>
                        <td>Pendente</td>
                    <% } %>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Resolução da atividade</h4>
        <form class="form" method="POST" action="/dashboard/aluno/turmas/<%= classes.idTurma %>/atividade/<%= data.id %>">
            <% if (data.textField != null && data.textField != '') { %>
                <textarea id="textArea" disabled=true name="textField"><%= data.textField %></textarea>
            <% } %>
            <% if (data.textField == null || data.textField == '') { %>
                <textarea id="textArea" name="textField"><%= data.textField %></textarea>
            <div class="action-btn">
                <button class="submit-send" type="submit">Enviar Atividade</button>
            </div>
            <% } %>
        </form>
        <% if (data) { %>
        <form method="POST" action="/dashboard/aluno/turmas/<%= classes.idTurma %>/atividade/<%= data.id %>/desistir">
            <button class="submit-giveup" type="submit">Desistir da Atividade</button>
        </form>
        <% } %>
    </main>
</body>
</html>