<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="shortcut icon" href="/images/dashboard-aluno/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/dashboard-aluno/estiloa1.css">
    <link rel="stylesheet" href="/stylesheets/landing-page/contact-us.css">
    <script defer src="/fa/brands.js"></script>
    <script defer src="/fa/solid.js"></script>
    <script defer src="/fa/fontawesome.js"></script>
    <title>elevel - Dashboard Aluno</title>
</head>
<body>
    <%- include('../partials/aside-top.ejs') %>
            <a href="/dashboard/aluno"><i class="fas fa-graduation-cap"></i> Aluno</a>
            <a href="/dashboard/aluno/profile"><i class="fas fa-user"></i> Perfil</a>
            <a href="#" class="active"><i class="fas fa-users"></i> Turmas</a>
    <%- include('../partials/aside-bottom.ejs') %>
    <div class="main">
        <h2>Dashboard / Turmas</h2>
        <hr />
        <div id="billboard">
            <button id="close-billboard"><i class="fas fa-times"></i></button>
            <h3><%= nome %>,</h3>
            <p>Aqui você pode conferir e gerenciar todos cursos e turmas que participa! Selecione para visualizar todos os detalhes.</p>
        </div>
        <h4>Turmas que faço parte</h4>
        <div class="tables">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Curso</th>
                        <th>Turma</th>
                        <th>Professor</th>
                        <th>Pontos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                <% for (let turma of data) { %>
                    <tr onclick="window.location='/dashboard/aluno/turmas/<%= turma.Turma.idTurma %>'">
                        <td><%= turma.id %></td>
                        <td><%= turma.Turma.titulo %></td>
                        <td><%= turma.Turma.codigo.slice(0,8) %></td>
                        <td>Ivens Müller</td>
                        <td></td>
                        <td>
                            <i class="fas fa-trash"></i>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <h4>Entrar em uma nova turma</h4>
        <div class="more-actions">
            <form class="form" method="POST" action="/dashboard/aluno/turmas">
                <input class="styled-input" type="text" name="idTurma" placeholder="ID da turma" />
                <button class="submit-send" type="submit">Entrar na Turma</button>
            </form>
        </div>
        <div class="notification">
            <img src="/images/dashboard-aluno/avatar.png" class="avatar" alt="avatar">
            <span class="badge">🔔</span>
        </div>
    </div>
    <script src="/js/dashboard-aluno/dashboard.js"></script>
</body>
</html>