<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="shortcut icon" href="/images/dashboard-aluno/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/dashboard-aluno/estiloa1.css">
    <script defer src="/fa/brands.js"></script>
    <script defer src="/fa/solid.js"></script>
    <script defer src="/fa/fontawesome.js"></script>
    <title>elevel - Dashboard Aluno</title>
</head>
<body>
    <%- include('../partials/aside-top.ejs') %>
            <a href="/dashboard/aluno"><i class="fas fa-graduation-cap"></i> Aluno</a>
            <a href="/dashboard/aluno/profile"><i class="fas fa-user"></i> Perfil</a>
            <a href="/dashboard/aluno/turmas" class="active"><i class="fas fa-users"></i> Turmas</a>
            <a href="/dashboard/aluno/turmas/<%= data.idTurma %>/atividades"><i class="fas fa-file-alt"></i> Atividades</a>
            <a href="/dashboard/aluno/turmas/<%= data.idTurma %>/ranking"><i class="fas fa-chart-bar"></i> Ranking</a>
    <%- include('../partials/aside-bottom.ejs') %>
    <div class="main">
        <h2>Dashboard / Turmas / <%= data.titulo %></h2>
        <hr />
        <div id="billboard">
            <button id="close-billboard"><i class="fas fa-times"></i></button>
            <h3><%= data.titulo %></h3>
            <p>Este é o seu curso de <%= data.titulo %>. Aqui você pode ver seus colegas de turma, ranking e atividades pendentes.</p>
        </div>
        <h4>Gerenciar turma</h4>
        <div class="tables">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Curso</th>
                        <th>Turma</th>
                        <th>Pontos</th>
                        <th>Alunos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= data.idTurma %></td>
                        <td><%= data.titulo %></td>
                        <td><%= data.codigo.slice(0,8) %></td>
                        <% if (sum[0].sumEvaluation != null) { %>
                        <td><%= sum[0].sumEvaluation %></td>
                        <% } else { %>
                        <td>0</td>
                        <% } %>
                        <td><%= classmates[0].count %></td>
                        <td>
                            <a href=""><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action-btn">
            <button id="leave" class="submit-giveup" type="submit" value="leave">Sair da Turma</button>
        </div>
        <div class="notification">
            <img src="/images/dashboard-aluno/avatar.png" class="avatar" alt="avatar">
            <span class="badge">🔔</span>
        </div>
    </div>
    <div id="leave-class">
        <p>Tem certeza que deseja sair da turma <%= data.titulo %>?</p>
        <div class="btn-action">
            <form method="POST" action="/dashboard/aluno/turmas/<%= data.idTurma %>">
                <button class="submit-giveup" type="submit">Sair</button>
            </form>
            <button id="stay" type="submit" class="submit-send" value="stay">Ficar</button>
        </div>
    </div>
    <script src="/js/dashboard-aluno/dashboard.js"></script>
</body>
</html>